<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SharpAdbClient" version="2.2.35" targetFramework="net46" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net40" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net40" />
</packages>